@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Grade Planner</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your music grade planner</h2>
        <p>
            This application helps you to keep track of the pieces that you learn and to plan which ones to learn next.
        </p>
    </div>
</div>